# Data Science Tools and Ecosystem

in this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages for Data Science
- Commonly used library for Data Science
- Development environment open source tools used in data science
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. SQL
4. Java
5. Scala
6. C++
7. JavaScript
8. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. Tensorflow
8. Pytorch
9. Apachespark

|Data Science Tools|
|------------------|
|Jupyter|
|Apache Zeppelin|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Linda